{% extends "base.html" %}
{% block content %}

<div style='text-align:center;'>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/3GgEFtoYmrQ" frameborder="0" allowfullscreen></iframe>
</div>

<p>
<h3>
Have you been erased by the family courts after divorce or separation? Unable to see your kid,

grandchild, sibling, niece or nephew?

</h3>
</p>

<p>
<h3>
Share your video with the Erasing Family documentary project.

Together, we will show that family bond obstruction is a growing public health crisis.
</h3>
</p>

<a class="btn btn-success pull-right" href='/instructions'>Share Video</a>
{% endblock %}
