{% extends "base.html" %}
{% block content %}

<ol>

<li> Record your video

<p>
Tips on creating a great video:
<ul>
  <li> Hold up your #erased sign
  <li> Record the video in a quiet area, turn off televisions and music.
  <li> Make sure light is on your face and not behind it (i.e. don’t sit in front of a bright window or a lamp).
  <li> Do not use the name (first or last) of anyone other than yourself. Say “my-ex” “father of my children” “my son”.
  <li> We will not use any videos that insult a person.
  <li> We will not use videos that have family pictures, or signs with additional text on them, such as logos, websites or phrases.
  <li> Answer the prompts as quickly as possible. This is not the platform to explain your story, it is a platform to share an emotional message.
</ul>
</p>

<li> Upload to YouTube. Rember the address of your video on YouTube.


<li> Proceed to fill out <a href='/upload'> our form </a>.
</ol>
{% endblock %}
