{% extends "base.html" %}
{% block content %}

<h1>INSTRUCTIONS FOR ERASED FAMILY</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/QVtYC5tlvUA" frameborder="0" allowfullscreen></iframe>

<h3>
  You will need to record on your own device. We recommend using a laptop or smartphone with a video camera.
Once you record video, proceed to fill out <a href='/upload'> our form </a>.
</h3>

<p>
  You can watch a video that will explain how to best record your video, but you can also follow these instructions.
</p>

<ul>

<li>
  These instructions are for moms, dad, grandparents, siblings, cousins, friends who have been erased from a child´s life after divorce.
</li>

<li>
  Each person should record their own video.
</li>

<li>
  We will not use the video in its entirety, so if you make a mistake keep on going.
</li>

<li>
You can use a video camera, smart phone or webcam to record the video. If you use a smartphone, please place it on a stable surface.

</li>

<li>
  Make sure your face is well lit and you record in a quiet place.
</li>

<li>
  Do not show photos of your children or anyone else in the video.
</li>

<li>
  Hold up your #erased (mom, dad, grandparent, etc) sign held up the entire video. Use a thick marker to write the sign, do not use pencil. You can also print out on a computer. Do not write anything else on the sign.
</li>

<li>
   This is not the place to tell every detail your story, you can give us any detail that is important on the form.
</li>

<li>
  Do not practice your answers or read them.
</li>

<li>
   Keep your answers short and follow the time guidelines, videos that are too long will not be used.
</li>

<li>
It is ok if you get emotional or cry.
</li>

<li>
Do not use technical terms (such as GAL, PAS, etc) or explain things.
</li>

<li>
I will say “child” but you can interpret this as “children”, “grandchildren” “brother” etc
</li>

</ul>


<h1>QUESTIONS:</h1>

<ol>


<li>

  State your name, where you live and say you an erased ________.

  Example: I´m Laura from Oceanside, California and I am an erased aunt.
</li>

<li>

  State how long you have not seen your child? Give the answer in years or days.

  Example: I have not seen my daughter for three years, five months and six days.

  Or I can only see my daughter once a month for three hours.

  20 second time limit.
</li>

<li>

  Is there a legal reason why you cannot see your kids? A no contact order, restraining order, no visitation granted, a visitation not being enforced, involvement of a child welfare agency? 30 seconds
</li>

<li>
  How have the family courts treated you? Do they respond in a timely manner? Have they imprisoned you? Treated you fairly? 30 seconds.

</li>

<li>
  Is there an emotional reason why you can´t see your kids? Like they have been turned against you, they are threatened with harm if they communicate with you? If you could talk with them, how would they respond? 30 seconds

</li>

<li>

  Have there been similar experiences within your family? We ask because sometimes these situations repeat over generations or people enter relationships with a new partner who also can´t see their kids, etc. 30 seconds
</li>

<li>

  Are there other cases of family bond obstruction that you personally know about? Don’t tell us about cases on social media, but cases in your community, in your family court. The more specific the better. 30 seconds.
</li>

<li>

  What do you miss most about having a relationship with your child? A specific activity, the day-to-day, the holidays, a life event (graduation)? 30 seconds
</li>
<li>

  How are you and other family members suffering? Maybe you lost your job due to attending court, financial hardship paying for lawyers, or emotional suffering like depression, anger, suicidal attempts, loosing other relationships. 30 seconds
</li>

<li>

  How is your child suffering? If you have not had any contact for a time do not answer or you can imagine what they might be going through. 30 seconds
</li>

<li>

  Do you have hope that your own situation will improve? Or that society will make reforms to help all families going through this? 20 seconds
</li>

<li>

  If somehow you could send a message to your child, what would you say to them? 30 seconds
</li>

<li>

  Anything else about your story that you want to mention that is unique? For example, you are prevented from seeing your child but you are a teacher who takes care of children, you see your child grow up on social media, you live 5 blocks away but haven´t seen your child in a year. 30 seconds.
</li>

</ol>

<p>
  Thank you! Please encourage other family members to share their stories, and identify that that they are connected to your story by giving your email.

</p>

<p>

  The size limit for videos is 512MB, you can use any software to compress. If you don´t have compression software you can use the free platform at
  <a href='http://www.videotollbox.com'>http://www.videotollbox.com</a>
</p>


<h3>Once you record video, proceed to fill out <a href='/upload'> our form </a>.</h3>

<!--
<ol>

<li> Record your video

<p>
Tips on creating a great video:
<ul>
  <li> Hold up your #erased sign
  <li> Record the video in a quiet area, turn off televisions and music.
  <li> Make sure light is on your face and not behind it (i.e. don’t sit in front of a bright window or a lamp).
  <li> Do not use the name (first or last) of anyone other than yourself. Say “my-ex” “father of my children” “my son”.
  <li> We will not use any videos that insult a person.
  <li> We will not use videos that have family pictures, or signs with additional text on them, such as logos, websites or phrases.
  <li> Answer the prompts as quickly as possible. This is not the platform to explain your story, it is a platform to share an emotional message.
</ul>
</p>


<li> Upload to YouTube. Remember the address of your video on YouTube. -->


<!-- <li>
</ol> -->
{% endblock %}
