{% extends "base.html" %}

{% block style %}
<link href='static/demo/scrolling.css' rel='stylesheet'>
<link href="static/demo/mosaic.css" rel="stylesheet">
<style>
html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.stations, .stations div {
  position: absolute;
}
.stations div {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.hidden {
  display:  none;
}

</style>
{% endblock %}

{% block content %}
<section id='mosaic-section' class='mosaic-section'>
  <div id='mosaic' class='mosaic-grid'></div>
</section>
<!-- <section id='map-section' class='map-section'>
  <div id="map"></div>
</section> -->
{% endblock %}

{% block script %}
<script src='static/jquery.easing.1.3.js'></script>
<script src='static/lib/scrolling.js'></script>

<script src="static/masonry.pkgd.min.js"></script>
<script src='static/demo/mosaic.js'></script>


{% endblock %}
