{% extends "base.html" %}

{% block content %}
  <h1>Submit a story!</h1>
  <form action="" method="post" name="edit" enctype="multipart/form-data">
      {{form.hidden_tag()}}
      <table>

          {% macro render_field(field) %}
          <tr>
            <td>{{ field.name | capitalize }} :</td>
            <td>{{ field | safe}}</td>
            {% if field.errors %}
            <td>

              {% for error in field.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </td>
            {% endif %}
          </tr>
          {% endmacro %}



          {{ render_field(form.name) }}
          {{ render_field(form.email) }}
          {{ render_field(form.country) }}
          {{ render_field(form.city) }}
          {{ render_field(form.video_url) }}
          {{ render_field(form.tags) }}
          {{ render_field(form.relationship) }}
          <tr>
            <td></td>
            <td>
            <textarea readonly='true' cols=70 rows=20>
By checking the below box I agree to the following:
The purpose of the “Erasing Family” (tentative title) documentary and related #Erased project is to raise awareness of family bond obstruction.
I hereby grant Ginger Gentile, D.B.A. Erasing Family Films, (hereby referred to as “Producer”) permission to use my voice and physical likeness for the purpose of producing the documentary and related promotional materials.
I hereby grant permission to the Producer and any subsidiaries, co-ventures or agents to distribute this material via print, internet, video, film, television or any other medium in perpetuity. This material may be used in accompanying public service awareness campaigns and educational material.
I agree to waive any form of compensation, monetary or otherwise, for my participation in “Erasing Family” and related materials.
All statements made in the submitted recordings are truthful and made in good-faith.
I understand that by making my story public I open myself up to risks, including but not limited to being held in contempt of court if statements are in violation of a gag-order, being sued by the other parties involved, or having my participation used against me in a custody hearing. I hereby release the Producer for any all claims relating to or arising from my participation on this platform.
I understand that submitting my video does not mean that this footage will be used by the Producer.
            </textarea>
            </td>
          </tr>
          {{ render_field(form.release) }}

          <tr>
              <td></td>
              <td><input type="submit" value="Upload"></td>
          </tr>
      </table>
  </form>

{% endblock %}
