{% extends "base.html" %}

{% block content %}
  <h1>Submit a story!</h1>
  <form action="" method="post" name="edit" enctype="multipart/form-data">
      {{form.hidden_tag()}}
      <table>

          {% macro render_field(field) %}
          <tr>
            <td>{{ field.name | capitalize }} :</td>
            <td>{{ field | safe}}</td>
            {% if field.errors %}
            <td>

              {% for error in field.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </td>
            {% endif %}
          </tr>
          {% endmacro %}



          {{ render_field(form.name) }}
          {{ render_field(form.email) }}
          {{ render_field(form.country) }}
          {{ render_field(form.city) }}
          {{ render_field(form.video_url) }}
          {{ render_field(form.tags) }}
          {{ render_field(form.relationship) }}
          {{ render_field(form.release) }}

          <tr>
              <td></td>
              <td><input type="submit" value="Upload"></td>
          </tr>
      </table>
  </form>

{% endblock %}
